server:
  port: 8090
spring:
  data:
    elasticsearch:
      cluster-nodes: 10.52.219.8:9300
      cluster-name: elasticsearch
      repositories:
        enabled: true
    mongodb:
      primary:
          host: 10.52.219.8
          port: 27017
          database: kklc
      secondary:
        host: 10.52.219.8
        port: 27017
        database: plover
  mvc:
    static-path-pattern: /**
  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,
                        classpath:/static/,classpath:/public/,file:${web.upload-path}
web:
  upload-path : E:/Apache24/Apache/htdocs/images/upload




