

/*顶部*/
.sy_top {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.24);
    color: #fff;
    z-index: 10000;
}

.sy_ul {
    float: left;
    padding-left: 10px;
}

.sy_ul li {
    float: left;
    padding: 0 23px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-right: 2px solid #4f5d75;
    margin-top: 25px;

}

.sy_ul li:nth-child(1) {
    font-size: 38px;
}

.sy_div {
    float: right;
    padding-right: 20px;
    cursor: pointer;
    position: relative;
}

.sy_div img {
    float: right;
    width: 42px;
    padding: 15px 10px;
}
.sy_divul{
    width: 100px;
    height: auto;
    position: absolute;
    right: 0;
    top: 71px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 14px #a9a8a8;
    display: none;
}
.sy_divul li{
    color: #000;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
.sy_div span {
    float: right;
    line-height: 72px;
}
.times_f{
    width: 100px;
}

/*lizi*/
#lizi,#lizi2{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 72px;
    left: 0;
    border: 0px;
    z-index: 10;
    overflow: hidden;
}
body .syblue{
    background: #0d99e7;
}

.syblue .sy_ul li{
    border-right:2px solid rgba(0,0,0,0.3);
}
.sy_div .time_statue{
    float: left;
}



@media screen and (min-width:1680px){
    .sy_box {
        padding-top: 9%;
    }
    .sy_boxcontent{
        margin-top: 40px;
    }
    .loginbox{
        margin-top: 50px;
    }
    .sd_libox {
        height: 34px;
        line-height: 34px;
    }
}

/*警徽图标*/
.sr_top{
    overflow: hidden;
}
.sr_top img{
    width: 100px;
    height: 100px;
    margin: 126px auto 14px;
    display: block;
}
.sr_top p{
    text-align: center;
    color: #0d99e7;
    font-size:34px;
}
.sr_top div{
    color: #666;
    font-size: 14px;
    text-align: center;
    margin: 6px;
}

/*进度条*/
.shadow{
    width: 80%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 0 10%;
}
.sd_jindu1{
    text-align: center;
    font-size: 30px;
    margin: 26% 0 3% 0;
    color: #fff;
    font-weight: bold;
}
.sd_jindu2{
    text-align: center;
    font-size: 24px;
    margin: 3% 0 0 0;
    color: #ff8f00;
    font-weight: bold;
    display: none;
}

/*侧边栏回到顶部*/
slide{
    width: 46px;
    position: fixed;
    right: 1px;
    bottom: 6%;
    cursor: pointer;
    display: none;
}
.gotop{
    width: 46px;
}