

.loginbox{
    width: 520px;
    height: 320px;
    background: rgba(4,135,247,0.4);
    position: absolute;
    left: 50%;
    margin-left: -260px;
    top: 110%;
    z-index: 1000;
    margin-top: 3%;margin-top: 3%;
}
.loginbox p{
    font-size: 24px;
    text-align: center;
    margin: 30px auto 20px;
}
.formbox{
    height: 52px;
    width: 360px;
    background: rgba(4,153,247,0.6);
    margin: 10px auto;
}
.formbtn{
    height: 52px;
    width: 360px;
    background: rgba(4,135,247,0.6);
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
    line-height: 56px;
    cursor: pointer;
}
.formbox input{
    height: 42px;
    width: 240px;
    background: transparent;
    border: 0;
    float: left;
    font-size: 18px;
    padding: 0 8px;
    margin: 5px 0;

}
.formbox span{
    float: left;
    font-size: 26px;
    margin: 12px 0 12px 50px;
}
.formbox input::-webkit-input-placeholder{
    color: #aaa;
}    /* 使用webkit内核的浏览器 */
.formbox input:-moz-placeholder{
    color: #000;
}                  /* Firefox版本4-18 */
.formbox input::-moz-placeholder{
    color: #000;
}                  /* Firefox版本19+ */
.formbox input:-ms-input-placeholder{
    color: #000;
}           /* IE浏览器 */